body {
  background: linear-gradient(262deg, #7a6d6d, #2439aa, #100404);
  background-size: 200% 200%;
}

h1 {
  background-color: hsla(300, 100%, 100%, 0.5);
  font-family: "Bungee Inline", cursive;
  border-radius: 5%;
  border-style: solid;
  border-color: black;
  border-bottom-width: 0.6rem;
  border-left-width: 0.6rem;
  max-width: 30rem;
  padding: 1rem;
  text-shadow: 1px 1px white;
}

h2 {
  font-family: "Bungee Inline", cursive;
  text-shadow: 0px 0px 4px white;
}

ul {
  background-color: hsla(300, 100%, 100%, 0.5);
  border-radius: 5%;
  border-style: solid;
  border-color: black;
  border-bottom-width: 0.5rem;
  border-left-width: 0.5rem;
  padding: 2rem;
}

li {
  font-family: sans-serif;
  padding: 0.3rem;
}

#dropD,
.add,
.about,
.aboutP {
  background-color: hsla(300, 100%, 100%, 0.6);
  border-color: black;
  border-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  padding: 0.5rem;
}

#dropD {
  max-width: 15rem;
}

.about {
  max-width: 6rem;
  max-height: 3rem;
}

.aboutP {
  display: none;
}

.pContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: sans-serif;
  margin: 1rem;
}

.coming-soon {
  color: white;
  text-shadow: 0px 0px 4px black;
}
